{% extends 'app.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="wrap">
                <p class="form-title">
                    Sign In
                </p>

                {% include 'auth.messages' %}

                <form class="login" method="post" action="{{ route('auth.login') }}">
                    <input type="hidden" name="_token" value="{{ csrf_token() }}">
                    <input type="text" name="username" placeholder="Username"/>
                    <input type="password" name="password" placeholder="Password"/>
                    <input type="submit" value="Sign In" class="btn btn-success btn-sm"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}