<nav class="navbar navbar-inverse navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">{{ appname }}</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul ng-class="{ 'nav navbar-nav': true, 'navbar-right':(type=='right'), 'navbar':(type=='left')}" ng-repeat="(type,menu) in menus">
        <li ng-class="{ active: menuItem.active}" ng-repeat="menuItem in menu" >
            <a  ng-href="{{menuItem.link}}" ng-click="onLinkClick($event)">{{menuItem.title}}</a>
            <div class="sous-nav" ng-if="menuItem.subItems">
                <ul>
                    <li ng-repeat="menuSubItem in menuItem.subItems" ng-class="{active:menuSubItem.active}">
                        <a ng-href="{{menuSubItem.link}}" ng-click="onLinkClick($event)">{{ menuSubItem.title }}</a>
                    </li>
                </ul>
            </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
