
<table st-table="rows" st-safe-src="rows" class="table table-striped"> 
    <thead>
        <th ng-style="{'width': header.width || 'auto'}" ng-repeat="header in headers">
            {{ header.title }}
        </th>
    </thead>
    <tbody>
        <tr ng-repeat="row in rows">
            <td ng-repeat="header in headers">
                {{ row[header.key] }}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="100" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
    </tfoot>
</table>