{% extends 'mails.template.twig' %}

{% block content %}
    Hello {{ username }} <br/>

    <a href="{{ route('auth.changeLostPasswordForm', {
        'username' : base64_encode(username),
        'token' : token
    }) }}">Lost password</a>
{% endblock %}